* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #f7f9fb;
}

a {
    text-decoration: none;
    color: #f7f9fb;
}

/*----------------------------------------------------------------Colours

Grey/Green: #687864
Dark Blue: #31708e
Medium Blue: #5085a5
Light Blue: #8fc1e3
White: #f7f9fb

Colours from: https://visme.co/blog/website-color-schemes/

*/

/*----------------------------------------------------------------Nav*/

/*Nav Elements: Dev Ed: 

https://www.youtube.com/watch?v=gXkqy0b4M5g

*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(180deg, #31708E 0%, #8FC1E3 100%);

}

.logo {
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fafafa;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fafafa;
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1068px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        ;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: linear-gradient(270deg, #31708E 0%, #8FC1E3 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index:1;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*----------------------------------------------------------------Nav*/

/*----------------------------------------------------------------Home*/

.home-container {
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:0;
    margin: auto;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.appear1 {
    animation: appear 1s ease-in;
}

.appear2 {
    opacity: 0;
    animation: appear 4s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/*----------------------------------------------------------------Home*/

/*----------------------------------------------------------------Services*/

.about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #31708e;
}

.about h1,
.services h1 {
    margin: 20px;
}

.about p {
    margin: 20px 30px 0px 30px;
    text-align: center;
}

.services {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #31708e;
    background-color:#f7f9fb;
}
.service-container{
    margin-bottom:15px;
}

.service{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column wrap;
}

figure{
    text-align: center;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*----------------------------------------------------------------Services*/

/*----------------------------------------------------------------Footer*/

footer {
    height: 8vh;
    width: 100%;
    background: linear-gradient(180deg, #5085A5 0%, #8FC1E3 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.f-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 33%;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.social-links li a i,
.f-item a i {
    font-size: 3vh;
}


.hidden-mobile {
    display: block;
}

.show-mobile {
    display: none;
}

@media screen and (max-width:768px) {
    .hidden-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
}

/*----------------------------------------------------------------Footer*/

/*----------------------------------------------------------------KeyFrames*/

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }

}

/*----------------------------------------------------------------KeyFrames*/
